In [5]:
import pandas as pd

In [2]:
!dir #ith location ariyan evde save ayyathn

 Volume in drive D has no label.
 Volume Serial Number is 726F-E3D5

 Directory of D:\data sc

23-11-2023  15:45    <DIR>          .
23-11-2023  15:45    <DIR>          .ipynb_checkpoints
23-11-2023  15:45    <DIR>          pandas_docs
23-11-2023  15:45                72 Untitled.ipynb
               1 File(s)             72 bytes
               3 Dir(s)  250,624,339,968 bytes free

In [18]:
!dir pandas_docs

 Volume in drive D has no label.
 Volume Serial Number is 726F-E3D5

 Directory of D:\data sc\pandas_docs

23-11-2023  15:45    <DIR>          .
23-11-2023  15:47    <DIR>          ..
23-11-2023  15:44               111 csv_mindex.csv
23-11-2023  15:44                59 demo1.csv
23-11-2023  15:44            10,545 demo1.xlsx
23-11-2023  15:44                43 demo2.csv
23-11-2023  15:44               169 demo3.csv
23-11-2023  15:44               170 demo3.txt
23-11-2023  15:44               169 demo4.csv
23-11-2023  15:44                78 demo5.csv
23-11-2023  15:44           626,863 demo6.csv
23-11-2023  15:44                36 demo7.csv
23-11-2023  15:44             6,189 demo_file.xlsx
23-11-2023  15:44           281,823 fdic_failed_bank_list.html
23-11-2023  15:44             2,681 final.csv
23-11-2023  15:44               880 mango_pickle
23-11-2023  15:44            11,520 mydata.h5
23-11-2023  15:44                88 out.csv
23-11-2023  15:44             6,136 out2.csv
23-11-2023  15:44             6,136 out3.csv
23-11-2023  15:44             6,136 out5.csv
23-11-2023  15:44                58 out6.csv
23-11-2023  15:44             6,136 out7.csv
23-11-2023  15:44            32,948 output.csv
23-11-2023  15:44           400,602 stock_px.csv
23-11-2023  15:44       196,592,730 survey_results_public.csv
23-11-2023  15:44             9,857 survey_results_schema.csv
23-11-2023  15:44            32,948 survived.csv
23-11-2023  15:44               942 tasty_pickle
23-11-2023  15:44               118 test.tsv
23-11-2023  15:44                40 test_file.csv
23-11-2023  15:44            32,948 titan.csv
23-11-2023  15:44               102 tseries.csv
              31 File(s)    198,069,261 bytes
               2 Dir(s)  250,624,331,776 bytes free

In [3]:
 pd.read_csv("C:\Drivers/out7.csv")

    @Pclass
0       0@3
1       1@1
2       2@3
3       3@1
4       4@3
..      ...
886   886@2
887   887@1
888   888@3
889   889@1
890   890@3

[891 rows x 1 columns]

In [4]:
pd.read_csv('pandas_docs/demo1.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'pandas_docs/demo1.csv'

In [20]:
pd.read_csv("pandas_docs/demo5.csv")

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [6]:
pd.read_csv("C:\data/test.tsv")

                       test\t test\ttest\ttest\ttest
0   Magnus\tMagnus\tMagnus\tMagnus\tMagnus\tMagnus\t
1  Carlsen\tCarlsen\tCarlsen\tCarlsen\tCarlsen\tC...

In [7]:
pd.read_csv("pandas_docs/demo3.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'pandas_docs/demo3.csv'

In [24]:
pd.read_csv("D:\data sc\pandas_docs/demo2.csv")

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12   file

# rashi

** rashi good mqn

- rashi good

In [28]:
 pd.read_csv(r"C:\rashi\out2.csv")

     Unnamed: 0  Pclass
0             0       3
1             1       1
2             2       3
3             3       1
4             4       3
..          ...     ...
886         886       2
887         887       1
888         888       3
889         889       1
890         890       3

[891 rows x 2 columns]

In [30]:
pd.read_csv("C:\Drivers\demo6.csv")

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [30]:
pd.read_csv("C:\Drivers\Camera\out3.csv")

    @Pclass
0       0@3
1       1@1
2       2@3
3       3@1
4       4@3
..      ...
886   886@2
887   887@1
888   888@3
889   889@1
890   890@3

[891 rows x 1 columns]

In [10]:
df= pd.DataFrame({"player":["neyamr","ronaldo","messi"],"goals":[58,60,48],"team":["brazil","portugal","argentina"]})
df

    player  goals       team
0   neyamr     58     brazil
1  ronaldo     60   portugal
2    messi     48  argentina

In [41]:
df ["player"][1]# ith use chyunjath player nte ullil ullath kandthaan

'ronaldo'

In [16]:
df["team"][2]

'argentina'

In [43]:
import pandas as pd

In [1]:
data=pd.read_excel(r"C:\Users\rashh\OneDrive\Desktop\\book.xlsx",skiprows=[2,0])#ith delete akkan ullatha
data

NameError: name 'pd' is not defined

In [26]:
!dir

 Volume in drive D has no label.
 Volume Serial Number is 726F-E3D5

 Directory of D:\

24-11-2023  13:52    <DIR>          .ipynb_checkpoints
27-11-2023  15:58            47,648 data rashi.ipynb
23-11-2023  16:21    <DIR>          data sc
               1 File(s)         47,648 bytes
               2 Dir(s)  250,624,192,512 bytes free

In [63]:
df = pd.DataFrame({"lovrs":["rashi","vahab","junaid"],"age":[45,54,56],"hight":[54,5.2,65]})
df 
df["lovrs"][1]

'vahab'

In [67]:
pd.read_table("demo2.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'demo2.csv'

In [90]:
data= pd.read_csv('test.tsv',sep='\t')#???

FileNotFoundError: [Errno 2] No such file or directory: 'test.tsv'

In [71]:
!dir

 Volume in drive D has no label.
 Volume Serial Number is 726F-E3D5

 Directory of D:\

24-11-2023  13:52    <DIR>          .ipynb_checkpoints
28-11-2023  01:02            64,741 data rashi.ipynb
23-11-2023  16:21    <DIR>          data sc
               1 File(s)         64,741 bytes
               2 Dir(s)  250,624,176,128 bytes free

In [78]:
pd.read_csv("D:\data sc\pandas_docs\demo5.csv",skiprows=[0,2])

     one  1   2   3   4   NA
0  three  9  10  11  12  foo

In [87]:
pd.DataFrame({"name":["rashi","rishu","ummi"],"age":[45,25,26],"wighet":[54,56,85]})

ds['name'][0]

'rashi'

In [92]:
dta=pd.read_csv("D:\data sc\pandas_docs\demo5.csv",skiprows=[2])
dta

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1     three  9  10  11  12     foo

In [97]:

data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

rashi
# your so good boy
-hppy
*happy
- happy

In [3]:
import pandas as pd

In [5]:
pd.read_csv("D:\data sc\pandas_docs\demo1.csv",skiprows=[2])

   a   b   c   d message
0  1   2   3   4   hello
1  9  10  11  12    file